* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.graph-container {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    align-items: center;
    width: 50rem;
    height: auto;
}

#graph {
    border: solid 1px black;
}

.stock-buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin: 1rem 2rem 0;
    padding: 2rem 15rem 2rem 2rem;
    height: 5rem;
    width: 10rem;
    background-color: rgb(168, 205, 149);
    color: black;
    overflow-y: scroll;
}

.date-container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin: 0 2rem;
    height: 5rem;
    align-items: center;
}

.date-box {
    width: 5rem;
}

.stats {
    margin: 0 2rem;
}